
p {
    margin: 0;
    font-size: .75em;
    line-height: 1rem;
}

.footer-text{
    font-size: 1.25em;
    text-align: center;
}

.Becas {
  padding: 0 1%;
}

.form {
  padding: 1% 20% 1%;
}

.rightBtn {
  padding: 1% 10% 1%;
  float: right;
}

.button {
  font-size: medium;
}

.container{
    padding: 1%;
}

.columns .column {
  display: inline-block;
}

.sndColumn {
  display: inline-block;
  padding: 0 5%;
}

.table {
  padding: 0% 10% 0%;
}

.demoForm {
  width: 500px;
  margin: auto;
}

.CalendarDay__highlighted_calendar {
  background: #82E0AA;
  color: #186A3B;
}

.CalendarDay__highlighted_calendar:hover {
  background: #58D68D;
  color: #186A3B;
}

.CalendarDay__highlighted_calendar:active {
  background: #58D68D;
  color: #186A3B;
}



* {
  font-size:  14px;
}

